body{
    background-color: white;
    color: black;
    font-size: 20px;
    font-family: "monotype";
    margin: 0px;
   
}

#encabezado{
    background-color: red;
}

#encabezado{
    color: black;
    font-size: 20px;
    text-align: left;
    padding: 10px;
    margin: 0px
}

nav ul{
    background-color: white;
    list-style: none;
    padding: 0px;
    text-align: right;
    margin: 0%;
}

nav ul li{
    display: inline;
}

nav ul li a{
    font-size: 20px;
    padding: 10px 12px;
    display: inline;
    color: black;
}

#contenedor{
    width: 800px;
    margin: auto;
}

.nosotros{
    font-size: 25px;
    text-align: center;
    padding: 0px;

}

#destacado{
    font-size: 40px;
    text-align: center;
    padding: 20px
}

#contenedor1 h3{
    font-size: 30px;
    text-align: center;
    padding: 20px
}

#contenedor2 {
    display: grid;
    padding: 20px;   
}

#contenedor2 div img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }

footer{
    display: flex;
    text-align: center;

}

.social {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

.social li{
    display:inline-block;
}




